*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
#header{
    
}
.navbar-top{
    color: aliceblue;
    background-color: black;

}

.navbar-top a{
    color: aliceblue;
    text-decoration: none;
}
li{
    list-style: none;
}
.left>li{
    padding: 25px;
}
.right>li{
    padding: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a>i{
    color: aliceblue;
    padding: 0 1px;
}
.navbar-second{
    background-color: aliceblue;
    color: black;
    padding: 25px;
   
}
.navbar-second a{
    color: black;
    text-decoration: none;
}
.space > li{
    padding: 0px 20px;
    font-size: 15px;
}
img{
    width: 100%;
}
#section-2{
    background-color: aliceblue;
    text-align: center;
}
.container{
    width: 90%;
    margin: auto;
}
.col-33{
    width: 33.33%;
}
.col-66{
    width: 33.33%;   
}
h3{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 50px;
    color: black;
}
.position{
    text-align: center;
}
.js{
    display: block;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
h2{
    font-size: 25px;
    padding-top: 20px;
}
h2+p{
    font-size: 20px;
    padding: 20px 0px;
    color: #545454;
}

div[class*="box"]{
    margin: 0px 50px;
}
button{
    background-color: rgb(0, 183, 255);
    color: aliceblue;
    padding: 6px;
    border: 1px solid rgb(0, 183, 255);
    font-size: 15px;
}
#section-3{
    background-color: rgb(215, 219, 228);
}
.col-50{
    width: 50%;
    padding-left:20px ;
}
h1{
    text-align: left;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    color: black;
}
h1+p{
    font-size: 20px;
    padding: 10px 0 ;
    color:black;
}
iframe{
    width: 450px;

}
#section7{
    width: 25%;
    padding-left:20px ;
}
h3+p{
    padding-bottom: 30px;
}

.col-67{
    padding-top: 40px;
}
h4{
    font-size: 20px;
    background-color: rgb(44, 185, 240);
    color: whitesmoke;
}
#section-88{

    width: 100%;
  
}
#section-99{
    padding-top: 60px;
    height: 350px;
    background-color: rgb(232, 229, 229);
}
#section-12{
    height: 60px;
    background-color: rgb(94, 93, 93);
}
/* fv */
h5{
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-top: 20px;
}
#section-14{
    height: 60px;
    background-color: rgb(71, 70, 70);
}
#section-13{
    height: 60px;
    background-color:skyblue;
}
h6{
    font-size: 15px;
    padding-top: 20px;
}
#section-111{
    height: 500px;
    background-color: black;
    padding: 30px;
}
th{
    color: white;
    font-size: 25px;
    padding: 20px;
    font-weight: lighter;
    
}