*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #5381c1;
    opacity: 0.700;
}

.logo{
    padding: 10px;
}
.left{
    padding-left: 350px;
}
.navbar>li{
    padding: 20px;
    list-style: none;

}
.navbar a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
.navbar a:hover{
    color: black;

}
#section-1{
    background-image: url(../image/background-section-1.png);
    background-position: center;
}
.col-1 h1{
    font-size: 40px;
    font-family: sans-serif;
    color: aliceblue;
    margin: 0 300px;
    margin-top: 250px;

}
.col-1 p{
    font-size: 20px;
    font-family: sans-serif;
    color: aliceblue;
    margin: 0 280px;
    margin-top: 30px;
}
.col-1 button{
   color: aliceblue;
   font-weight: bolder;
   border-radius: 32px;
   background-color: #edc315;
   height: 40px;
   width: 120px;
   margin-left:450px ;
   margin-top: 50px;
}
#section-2{
    background-color: #739ee3;
    position: relative;
    overflow: hidden;
}
.box1 img{
    margin-left: 30px;
}
.image{
    position: absolute;
    top: -40px;
    left: -100px;

}
.image2{
    position: absolute;
    left: 880px;
    top: -40px;
}

.container>h1{
    color: white;
    font-size: 50px;
    margin: 0 350px;
    padding-top: 40px;
    padding-left: 100px;
}
.container>p{
    color: white;
    font-size: 20px;
    margin: 0 300px;
    padding-top: 40px;
    padding-left: 90px;
}
.col-2{
    padding: 20px;
    padding-top: 80px;
}
.col-2 h2{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;

}
.col-2 p{
    color: white;
    text-align: center;
    font: 30px;
    padding-top:20px;
}
#section-3{
    background-image: url(../image/background.png);
    background-position:center;
}
.container{
    width: 100%;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bg>h1{
    font-size: 50px;
    color: whitesmoke;
    margin: 0 400px;
    padding-top: 50px;
}
.bg>p{
    font-size: 20px;
    color: white;
    margin: 0 400px;
    padding-top: 20px;
    padding-bottom: 130px;
}
.bg{
    background-color: #edc21596;
    height:700px ;
}
.col-3{
    width: 262px;
    height: 262px;
    border-radius: 131px;
    border: 10px solid white;
}
.col-3 h1{
    font-size: 50px;
    padding-left: 80px;
    color: white;
    padding-top: 45px;

}
.col-3 p{
    font-size: 30px;
    color: white;
    padding-left:75px ;
    padding-top: 35px;
    
}
#section-4{
    background-color: #5380c1;
}
.col-4{
    padding: 30px;
}
.col-4 h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
.col-4 p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.col-4 button{
    color: aliceblue;
    font-weight: bolder;
    border-radius: 32px;
    background-color: #edc315;
    height: 40px;
    width: 120px;
    margin-left:150px ;
    margin-top: 20px;
 }
 .col-4 img{
    margin-right: 30px;
    margin-top: 150px;
 }
 #section-5{
    background-color: #739ee3;
}
.col-5{
    padding: 30px;
}
.col-5 h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
.col-5 p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.col-5 button{
    color: aliceblue;
    font-weight: bolder;
    border-radius: 32px;
    background-color: #edc315;
    height: 40px;
    width: 120px;
    margin-left:150px ;
    margin-top: 20px;
 }
 .col-5 img{
    margin-right: 30px;
    margin-top: 150px;
 }
 #section-6{
    background-color: #5380c1;
 }
 .col-6{
    background-color: white;
    width: 300px;
    height: 450px;
    margin: 30px;
    
 }
 .col-6 h1{
    text-align: center;
    color: #5380c1;
    padding-top: 20px;
 }
 .col-6 h2{
    text-align: center;
    color: #5380c1;
    padding-top: 30px;
 }
 .col-6 p{
    text-align: center;
    color: #5380c1;
    padding-top: 30px;
    font-size: 30px;
 }
 .col-6 button{
    color: aliceblue;
    font-weight: bolder;
    border-radius: 32px;
    background-color: #edc315;
    height: 40px;
    width: 190px;
    margin-left:40px ;
    margin-top: 20px;
    border-color: #edc315;
 }
 .col-6 img{
    margin-left: 90px;
    margin-top: 20px;
 }
 .image3{
    position: absolute;
    top: 30px;
    left: 40px;
 }
 .image4{
    position: absolute;
    right: 0;
    top: 100px;
    margin-right:100px ;
 }
 #section-7{
    background-color: #739ee3;
 }
 .col-7{
    padding: 40px;
 }
 .col-7 h1{
    color: whitesmoke;
    font-size: 30px;
    padding-bottom: 10px;
 }
 .col-7 p{
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 0px;
 }
 .col-7 img{
    margin-left:30px;
 }
 #section-8{
    background-image: url(../image/image-section-7.png);
    background-size:cover;
    background-position: center;
    height: 700px;
 }
 .col-8 h2{
    padding-top: 50px;
    color: white;
    font-size: 30px;
    padding-left: 500px;
 }
 .col-8 p{
    padding-top: 400px;
    color: white;
    font-size: 30px;
    padding-left: 250px;
 }
 #footer
 {
    background-color: #343434;
    padding: 20px;
 }
 .col-9 h1{
  color: white;
  font-size: 20px;
 }
 .col-9 p{
    color: white;
    font-size: 15px;
 }
 li{
    list-style: none;
 }
.sticker a{
    color: white;
}
.sticker a>i{
    margin-top:20px ;
    padding-right: 20px;
}