* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 80px;
    background-color: #daac00;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 30px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a>i {
    width: 40px;
    height: 35px;
    background-color: #00bec9;
    padding: 9px;
}

li>input {
    font-size: 15px;
    text-align: center;
    filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.1));
    background-color: white;
    color: black;
    height: 30px;
}

a:hover {
    color: #0cb6bf;
    text-decoration: underline;
}

.container {
    height: 100%;

}

#section-1 {
    background-color: #fcc302;
}

.col-50 {
    padding: 60px;
}

.col-50 h1 {
    font-size: 40px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: sans-serif;
}

.col-50 p {
    font-size: 20px;
    color: white;
    font-weight: 400;
    padding: 20px 0;
}

.col-50 button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: 2px solid white;
    margin-top: 20px;
}

.col-50 button:hover {
    background-color: #00bec9;
    color: white;
}
#section-2{
    position: relative;
}
.col-60 {
    padding: 60px;
}

.col-60 h1 {
    font-size: 40px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: sans-serif;
}

.col-60 p {
    font-size: 20px;
    color: black;
    font-weight: 400;
    padding: 20px 0;
}

.col-60 button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color: #fcc302;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    margin-top: 20px;
}

.box3>p {
    background-color: #fcc302;
    color: #fcc302;
    width: 100px;
    height: 100px;
    padding: 80px;
}

#section-4 {
    position: relative;
}

.col-80 {
    padding: 60px;
}

.col-80 h1 {
    font-size: 40px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: sans-serif;
}

.col-80 p {
    font-size: 20px;
    color: black;
    font-weight: 400;
    padding: 20px 0;
}

.col-80 button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color: #fcc302;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    margin-top: 20px;
}

.box3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: -1;

}

.sej>img {
    z-index: 10;
}

.box3>p {
    background-color: #daac00;
    color: #fcc302;
    width: 100px;
    height: 100px;
    padding: 80px;



}

#section-3 {
    background-color: #fcc302;
}

#section-3 h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

#section-3 p {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.col-70 {
    padding: 40px;
}

.col-70 h2 {
    font-size: 30px;
    color: white;
    text-align: center;
}

#section-5 {
    background-color: #fcc302;

}

#section-5 h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

#section-5 p {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.col-90 {
    padding: 70px;
}

.col-90 button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #00bec9;
    color: white;
    font-size: 20px;
    border: 2px solid #00bec9;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;

}

.col-90 h2 {
    font-size: 30px;
    color: white;
    text-align: center;
}

#section-6 h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    padding-top: 20px;
}

#section-6 p {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.col-100 {
    padding: 30px;
}

.col-100 h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
}

.col-100 h3 {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
}

.fa i {
    color: white;
    background-color: #daac00;
    margin-left: 10px;
}

#section-7 {
    background-image: url(../image/bg-img.png);
    background-position: center;
    padding: 90px;
}

.col-110 {
    padding: 80px;
}

.col-110 h1 {
    color: white;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}

.col-110 h3 {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

#section-8 h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-family: sans-serif;
}

#section-8 p {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-family: sans-serif;
}

.col-120 {
    padding: 40px;
}

.col-120 h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.col-120 p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.col-120 h3 {
    color: #00bec9;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

#footer {
    background-color: #343434;
}

#footer h1 {
    color: white;
    font-size: 30px;
    padding: 20px;

}

#footer p {
    color: white;
    font-size: 20px;
    padding: 10px;
}

#footer h3 {
    color: white;
    font-family: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#footer button {
    padding: 5px;
    background-color: #00bec9;
    border: 2px solid #00bec9;
}

footer input {
    height: 30px;
    margin-left: 10px;
}